@media screen and (max-width: 499px) {
     .locations {
          margin: 0;
          flex-basis: 100%;
     }

     .drawer {
          position: absolute;
          width: 200px;
          padding-left: 2em;
          border-radius: 5px;
          -webkit-transform: translate(-200px, 0);
          transform: translate(-200px, 0);
     }

     .fourSquare {
          margin-left: .25em;
     }

     .listItem {
          font-size: 1em;
          padding-left: .25em;
     }

     .listItem:last-of-type {
          border-bottom: none;
     }

     .open {
          background: #FEEAA5;
     }
}

@media screen and (min-width: 500px) {
     .locations {
          width: 200px;
          margin-left: .5em;
          margin-right: .5em;
     }

     .drawer {
          position: relative;
          -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
     }

     .fourSquare {
          margin-left: .75em;
     }

     .listItem {
          font-size: 1em;
          padding-left: .5em;
     }

     .listItem:last-of-type {
          border-bottom: none;
     }

     input {
          margin-left: .5em;
     }
}

.drawer, nav, button {
     background: #FEEAA5;
}

.drawer {
     padding-top: .5em;
     border-radius: 5px;
}
.drawer {
     border: 1px solid #c5bbbb;
}

.locationsHeader {
     margin-left: .5em;
     margin-bottom: 0;
     color: #45494f;
}

.fa {
     flex-basis: 50%;
     margin-left: 1.5em;
     margin-right: 100vw;
     font-size: 1.5em;
     margin-bottom: .5em;
     cursor: pointer;
}

.fa:hover {
     color: #E8453C;
}

@media screen and (min-width: 499px) {
     .fa {
          display: none;
     }
}

input {
     display: block;
     width: 150px;
     height: 1.75em;
     margin-top: 0;
     border: 1px solid #c5bbbb;
     border-radius: 3px;
}

input::placeholder {
     padding-left: .25em;
     color: #45494f;
     font-style: italic;
}

.fourSquare {
     font-size: .6em;
}

.open {
     z-index: 1000;
     -webkit-transform: translate(0, 0);
     transform: translate(0, 0);
}

nav {
     border-radius: 5px;
}

.locationsList {
     padding: 0;
     list-style-type: none;
     text-align: left;
}

.listItem {
     text-align: left;
     margin-bottom: .5em;
     padding-bottom: .5em;
     border-bottom: 1px solid #c5bbbb;
}

button {
     font-size: .75em;
     padding: 0;
     font-weight: bold;
     border: none;
     cursor: pointer;
     color: #45494f;

}

button:hover {
     color: #c62727;
}
