@media screen and (max-width: 499px) {

     .locations {
          flex-basis: 100%;
     }

     .listWrapper {
          position: absolute;
          -webkit-transform: translate(-350px, 0);
          transform: translate(-350px, 0);

     }

     .listItem {
          font-size: .5em;
          padding-left: .25em;
     }
}

@media screen and (min-width: 500px) {

     .listWrapper {
          position: relative;
          -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
     }

     .listItem {
          font-size: 1em;
          padding-left: .25em;
     }
}

.locations {
     width: 200px;
     margin-left: .5em;
     margin-right: .5em;
}

.locationsHeader {
     margin-left: .5em;
     margin-bottom: 0;
     color: #45494f;
}

.fa {
     flex-basis: 50%;
     margin-left: auto;
     margin-right: 100vw;
     font-size: 1.5em;
     margin-bottom: .5em;
}

@media screen and (min-width: 499px) {
     .fa {
          display: none;
     }
}

input {
     display: block;
     width: 150px;
     margin-top: 0;
}

.fourSquare {
     margin-left: .25em;
     font-size: .7em;
}

.open {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  background-color: #55586b;
}

.locationsList {
     padding: 0;
     list-style-type: none;
     text-align: left;
}

.listItem {
     text-align: left;
     margin-bottom: .5em;

}

button {
     font-size: .75em;
     padding: 0;
     font-weight: bold;
     border: none;
     cursor: pointer;
     color: #45494f;

}

button:hover {
     color: #c62727;
}
