@media screen and (max-width: 499px) {
     #map {
          width: 100vw;
     }
}

@media screen and (min-width: 500px) {
     #map {
          width: 57vw;
     }
}

@media screen and (min-width: 850px) {
     #map {
          width: 72vw;
     }
}

@media screen and (min-width: 1000px) {
     #map {
          width: 720px;
     }
}

#map {
     height: 100vh;
}