@media screen and (max-width: 499px) {
     #map {
          width: 100vw;
     }
}

@media screen and (min-width: 500px) {
     #map {
          width: 56vw;
     }
}

@media screen and (min-width: 750px) {
     #map {
          width: 70vw;
     }
}

@media screen and (min-width: 1200px) {
     #map {
          width: 840px;
     }
}

#map {
     height: 100vh;
}