.App {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.title, .subtitle {
     text-align: center;
     flex-basis: 100%;
     color: #45494f;
}

.title {
     margin-bottom: .25em;
}

.subtitle {
     margin-top: 0;

}