.App {
     height: 100%;
     width: 100%;
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
}

/*This selects the second child div of the App component, which houses the map.  This selector needs to be created inside the App component in order to have the map appear correctly.*/

.App > div:last-of-type {
     height: 100%;
     width: 70%;
}